@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* primary colors */
    --background: hsl(218, 23%, 16%);
    --secondary-background: hsl(217, 19%, 24%);
    --tertiary-background: hsl(217, 19%, 38%);
    --light-color: hsl(193, 38%, 86%);
    --main-green: hsl(150, 100%, 66%);

    /* font-styles */
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    color: var(--light-color);


}

body {
    background-color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 95vh;
    
}

.main {
    width: 350px;
    background-color: var(--secondary-background);
    padding: 35px 0px;
    margin: auto;
    border-radius: 10px;
    overflow: auto;
}

.header {
    color: var(--main-green);
    letter-spacing: 4px;
    font-size: .35rem;
    text-transform: uppercase;
    padding: 5px 0px 30px;
}

.advice {
    min-height: 120px;
    max-width: 330px;
    margin: auto;
}

.filler {
    padding: 10px 0px 20px;
}

.btn {
    width: 350px;
    display: flex;
    justify-content: center;
    
}

#randomize {
    background-color: var(--main-green);
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    bottom: 160;
    width: 40px;
}

.attribution {
    position: fixed;
    width: 100%;
    padding: auto;
    bottom: 0px;
}

/* Interactivity styles */
#randomize:hover {
    transition: ease-in-out;
    transform: scale(1.1, 1.1);
    transition-duration: 400ms;
    cursor: pointer;
}

#randomize:active {
    transition: ease-in-out;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 2px var(--main-green);
}
